*
{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
}
    
.a
{
    background-color: black;
}

#nav-bar
{
    position:sticky;
    top:0;
    z-index:10;
}
.navbar
{
    background-image: linear-gradient(to right, #4a98f1,#3f1dd6);
    padding:0 !important;
}
.navbar-brand
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color:#fff !important;
    font-weight:600;
    float:right;
    text-align:left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline:none !important;

}
#banner
{
    background-image: linear-gradient(to right, #213b58,#15102e);
    color: #fff;
    padding-top:5%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;

}
.play-btn
{
    width: 45px;
    margin: 20px;
}
#services
{
    padding: 80px 0;
    color: white;
    background-color: black;
}
#services h1{
    text-align: center;
}
.service-img
{
    width:100%;
    height: 100%;
    margin-left:2px;
}
.about-img
{
    width:20%;
    margin-top:20px;
    transition: 0.5s;
    
}
.about a:hover img{
    transform: translateY(-10px);
}

.about-img1
{
    width:20%;
    border-radius: 50%;
    margin-top:20px;
    transition: 0.5s;
}
.about a:hover img{
    transform: translateY(-10px);
}

.services
{
    padding:20px;
}
.about h4
{
   padding:5px;
   margin-top: 25px;
   text-transform: uppercase;
   color: #78bbcc;
   
}
.about h4::before{
    content: '';
    background : #0c0c0c;
    height: 5px;
    width: 350px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform :translateY(40px); 
}
.about p
{
    color:#f8f9fa;
    margin-top: 30px;
}

.title::before
{
    content: '';
    background : #142b46;
    height: 5px;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform :translateY(63px);
}
.title::after
{
    content: '';
    background : #142b46;
    height: 10px;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform :translateY(8px);
}
#services .btn-primary
{
    box-shadow:none;
    padding: 8px 25px;
    border: none;
    border-radius : 20px;
    background-image: linear-gradient(to right, #213b58,#15102e);
}
#about
{
    background: #2a3f53;
    padding-bottom: 50px;
    padding-top:50px;
    color:rgb(244, 244, 245)
}
.about-title
{
  font-size:40px;
  font-weight: 600;
  margin-top: 8px;
}
.about-us
{
    padding-top:60px;
}
.about-us ul
{
    margin-left: 10px 0;
}
.about-us ul li
{
    margin: 10px 0;
}
#testimonials
{
    margin: 100px 0;
    background:black;
    color:white;
}
.testimonials
{
    border-left: 4px solid #142b46;
    margin-top:50px;
    margin-bottom:50px;
}
.testimonials img{
    height:80px;
    width:80px;
    border-radius:50%;
    margin:0 10px;
}
#work
{
  box-sizing: border-box;
  background-image: linear-gradient(to right, #0c2720,#260242);
  color: whitesmoke;
  padding-bottom: 20px;
}
#work h1{
  padding-top: 20px;
}
#work .container{
    padding-top: 20px;
    padding-bottom: 50px;
}
.video-conatier
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.video-conatier .video{
    height:10rem;
    width: 20rem;
    margin: 2rem;
    /*box-shadow: 0.5rem 1rem rgba(0,0,0,.5);*/
    /* overflow:hidden; */
    border-radius: 1rem;
}

video{
    height: 100%;
    width:100%;
    object-fit:cover;
    outline:none;
    border: none;
    cursor: pointer;
}
.video-conatier .video video:hover{
    transition: .2s linear;
    transform :scale(1.3);
}
.video-conatier .video  video:hover .active
{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.7);
    z-index:1;
}
.video-conatier .video  video:hover .active
{
    transition: none;
    transform :translate(-50%,-50%);
}
.video-conatier .video p
{
    display: flex;
    color: rgb(163, 235, 240);
    margin-bottom: 5px;
    
}
#rt
{
  display: block;
}
#latest
{
  background-image: linear-gradient(to right, #13011f,#020933);
    color:rgb(133, 14, 69);
   
    padding-top: 2%;
}
#latest h1{
   /* padding-top:10%;*/
    margin-bottom: 10%;
}
.glow {
  
    color:whitesmoke;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
#latest > div
{
    width:95%;
    margin: 80px auto;
    padding-bottom: 12%;
    
}
#latest .row
{
    display:flex;
    align-items: center;
    
    flex-wrap: wrap;
}

#latest .col
{
    flex-basis: 50%;
    min-width: 250px;

}
.feature-img
{
    width: 100%;
    height: 50vh;
    margin:auto;
    position:relative;
    border-radius:6px;
    overflow:hidden;
}
.small-img-row
{
    display: flex;
    background: #efefef;
    margin:20px auto;
    align-items:center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
  
}
.small-img-row > div{
  padding-left:0;
  padding-right: 0;
}
.small-img
{
   position:relative;

  
}
.small-img img {
    width: 100%;
    
    
}
.ui{
  width: 100%;
  
  height:15vh; 
  padding-right: 0;
}
.ua{
  width: 100%;
  
  height:15vh; 
  padding-right: 0;
}
.small-img-row p{
    text-align: center;
    color:#707070;
    line-height: 22px;
    font-size: 15px;
}
/* .play-btn
{
    width:60px;
    position:absolute;
    
    transform :translate(-50%, -50%);
    cursor:pointer;
    opacity: 78%;
} */
.small-img .play-btn
{
    width:35px;
    
    position:absolute;
    left: 50%;
    top:50%;
    transform :translate(-97%, -95%);
    cursor:pointer;
    opacity: 78%;
    
}
video:focus{
    outline: none;
}

.usr
{
   display:inline-block;
   font-size:12px;
}
#soc
{
    background: #f8f9fa;
    padding : 100px 0;

}
#soc p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

#footer
{
    background-image: linear-gradient(to right, #142b46,#0d0d0e);
    color:#fff;

}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom:20px;
}
.soc-i img{
    width: 60px;
    transition: 0.5s;
}
.soc-i a:hover img{
    transform: translateY(-10px);
}

#late
{
  color:white;

}
#late h1{
    padding-bottom: 8%;
}
@import url(//fonts.googleapis.com/css?family=Oregano|Merienda);

.mwl {
font-family: 'Merienda', cursive;
color: white;
}
.ks {
font-family: 'Oregano', cursive;
font-size:18px;
color: rgb(226, 15, 86);
}
.ks a{
text-transform: none !important;
}
.sd
{
    padding-bottom: 20px;
}
