*
{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
}
    
.a
{
    background-color: black;
}
/* #navigation */





#nav-bar
{
    position:sticky;
    top:0;
    z-index:1000;
    height: 50px;
    
}
.navbar
{
    background-image: linear-gradient(to right, #1d334d,#020f2c);
    padding:0 !important;
    opacity: 95%;
    height: 70px;
}
/* .navbar-brand
{
    height: 40px;
    padding-left: 20px;
    font-family: 'Allerta Stencil';
    font-size: 52px;
    font-weight: bold;
} */
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color:rgb(129, 230, 248) !important;
    font-weight:600;
    float:right;
    text-align:left;
}
.fa-bars
{
    color: rgb(131, 229, 247);
    font-size: 30px !important;
}
.navbar-toggler
{
    outline:none !important;

}
#nav-bar h3 {
    margin: 0;
    font: normal 36px Cookie, cursive;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff;
    font-weight: 20em;
    margin-left: 10px;
}
#nav-bar h3 a {
    text-decoration: none;
    color: rgb(250, 252, 248);font-weight: 20em;
}
#nav-bar h3 span {
    color: #1f98bd;font-weight: 20em;
}

#banner
{
    background-image: linear-gradient(to right, #213b58,#15102e);
    color: rgb(231, 229, 229);
    padding-top:5%;
    font-family: 'Balthazar';
    font-size: 1.5em;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;

}
.play-btn
{
    width: 45px;
    margin: 20px;
}


/* #services */
/* #services
{
    padding: 80px 0;
    color:rgb(7, 7, 7);
    background-image: linear-gradient(to right, #95a6f0,#15102e);
    font-family: 'Baskervville';
    font-size: 18px;
}
#services h1{
    text-align: center;
}
.service-img
{
    width:100%;
    height: 100%;
    margin-left:2px;
}
.services
{
    padding:20px;
}
#services .btn-primary
{
    box-shadow:none;
    padding: 8px 25px;
    border: none;
    border-radius : 20px;
    background-image: linear-gradient(to right, #213b58,#15102e);
} */
#services{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: #788688;
}

.about-section{ 
    background: url(yu\ \(2\).jpg) no-repeat left;
    background-size: 65%;
    /* background-color: #c0ebf8; */
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-image: linear-gradient(to left, #b2cfd8,#2a2d31);
    padding: 50px;
}

.inner-container h1{
    margin-bottom: 20px;
    color: rgb(192, 218, 226);
    font-family: 'Baskervville';
    text-align: left;
    font-size: 40px;
    font-weight: 900;
}

.text{
    font-family: 'Forum';
    font-weight: bold;
    font-size: 20px;
    color: #0a0a0a;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 20px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
/* about */






.about-img
{
    width:20%;
    margin-top:20px;
    transition: 0.5s;
    
}
.about a:hover img{
    transform: translateY(-10px);
}

.about-img1
{
    width:20%;
    border-radius: 50%;
    margin-top:20px;
    transition: 0.5s;
}
.about a:hover img{
    transform: translateY(-10px);
}


.about h4
{
   padding:5px;
   margin-top: 25px;
   text-transform: uppercase;
   color: #0b0c0c;
   font-family: 'Buenard';
   font-size: 22px;
   font-weight: bold;
   
}
.about h4::before{
    content: '';
    background : #0c0c0c;
    height: 5px;
    width: 345px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform :translateY(60px); 
}
.about p
{
    color:#000005;
    margin-top: 40px;
    font-family: 'Bubblegum Sans';
    font-size: 18px;
}

.title::before
{
    content: '';
    background : #142b46;
    height: 5px;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform :translateY(63px);
}
.title::after
{
    content: '';
    background : #142b46;
    height: 10px;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform :translateY(8px);
}

#about
{
    background-image: linear-gradient(to bottom, #7394b9,#3664a8);
    padding-bottom: 50px;
    padding-top:50px;
    color:rgb(0, 0, 8)
}
#about h1
{
  font-size:40px;
  font-weight: bolder;
  margin-top: 8px;
  font-family: 'Baskervville';

}
#about > div::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(#870aec, #6e0b81);
    clip-path: circle(20% at 10% 10%);
    opacity: 20%;
}

.about-us
{
    padding-top:60px;
}
.about-us ul
{
    margin-left: 10px 0;
}
.about-us ul li
{
    margin: 10px 0;
}
#about > div::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2d2dff, #ff2f2f);
    clip-path: circle(25% at right)
}


.about {
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    z-index: 100;
    font-family: 'Baskervville';
    font-weight: bold;
}

.about .row .card {
    width: 300px;
    height: 300px;
    margin: 30px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    cursor: pointer
}

.about .row .card .card-body {
    padding: 1rem 1.2rem;
    color: rgb(2, 2, 2);
    font-family: 'Baskervville';
}

.about .row .card .card-body .card-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    transform: translateY(50px);
    transition: 0.5s;
    border-radius: 50%
}

.about .row .card .card-body .name {
    transform: translateY(50px);
    transition: 0.5s
}

.about .row .card .card-body .testimonial {
    font-size: 0.8rem;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.5s;
    opacity: 0
}

.about .row .card:hover .card-body .testimonial,
.about .row .card:hover .card-body .name,
.about .row .card:hover .card-body .card-img img {
    transform: translateY(0px);
    opacity: 1
}




/* work */
#work
{
  box-sizing: border-box;
  background-image: linear-gradient(to left, #6699ad,#40617c);
  color: rgb(0, 8, 8);
  padding-bottom: 20px;
}
#work h1{
  padding-top: 20px;
  font-family: 'Baskervville';
  font-weight: bold;
}
#work .container{
    padding-top: 20px;
    padding-bottom: 50px;
}
.video-conatier
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.video-conatier .video{
    height:10rem;
    width: 20rem;
    margin: 2rem;
    /*box-shadow: 0.5rem 1rem rgba(0,0,0,.5);*/
    /* overflow:hidden; */
    border-radius: 1rem;
}

video{
    height: 100%;
    width:100%;
    object-fit:cover;
    outline:none;
    border: none;
    cursor: pointer;
}
.video-conatier .video video:hover{
    transition: .2s linear;
    transform :scale(1.3);
}
.video-conatier .video  video:hover .active
{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.7);
    z-index:1;
}
.video-conatier .video  video:hover .active
{
    transition: none;
    transform :translate(-50%,-50%);
}
.video-conatier .video p
{
    display: flex;
    color: rgb(6, 26, 27);
    margin-bottom: 5px;
    
}
#rt
{
  display: block;
}




/* latest */
#latest
{
  background-image: linear-gradient(to right, #5cb5e9,#194f68);
    color:rgb(133, 14, 69);
   
    padding-top: 2%;
}
#latest h1{
   /* padding-top:10%;*/
    margin-bottom: 10%;
}
.glow {
  
    color:whitesmoke;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
#latest > div
{
    width:95%;
    /* margin: 80px auto; */
     padding-bottom: 12%;
     padding-top: 2%;
    
}
#latest .row
{
    display:flex;
    align-items: center;
    
    flex-wrap: wrap;
}

#latest .col
{
    flex-basis: 50%;
    min-width: 250px;

}
.feature-img
{
    width: 100%;
    height: 50vh;
    margin:auto;
    position:relative;
    border-radius:6px;
    overflow:hidden;
}
.small-img-row
{
    display: flex;
    background: #efefef;
    margin:20px auto;
    align-items:center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
  
}
.small-img-row > div{
  padding-left:0;
  padding-right: 0;
}
.small-img
{
   position:relative;

  
}
.small-img img {
    width: 100%;
    
    
}
.ui{
  width: 100%;
  
  height:15vh; 
  padding-right: 0;
}
.ua{
  width: 100%;
  
  height:15vh; 
  padding-right: 0;
}
.small-img-row p{
    text-align: center;
    color:#707070;
    line-height: 22px;
    font-size: 15px;
}
/* .play-btn
{
    width:60px;
    position:absolute;
    
    transform :translate(-50%, -50%);
    cursor:pointer;
    opacity: 78%;
} */
.small-img .play-btn
{
    width:35px;
    
    position:absolute;
    left: 50%;
    top:50%;
    transform :translate(-97%, -95%);
    cursor:pointer;
    opacity: 78%;
    
}
video:focus{
    outline: none;
}

.usr
{
   display:inline-block;
   font-size:12px;
}






/* footer */
#soc
{
    background: #f8f9fa;
    padding : 100px 0;

}
#soc p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

#footer
{
    background-image: linear-gradient(to right, #142b46,#0d0d0e);
    color:#fff;

}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom:20px;
}
.soc-i img{
    width: 60px;
    transition: 0.5s;
    display: inline-block;
}
.soc-i a:hover img{
    transform: translateY(-10px);
}

#late
{
  color:white;

}
#late h1{
    padding-bottom: 8%;
}
@import url(//fonts.googleapis.com/css?family=Oregano|Merienda);

.mwl {
font-family: 'Merienda', cursive;
color: white;
}
.ks {
font-family: 'Oregano', cursive;
font-size:18px;
color: rgb(226, 15, 86);
}
.ks a{
text-transform: none !important;
}
.sd
{
    padding-bottom: 20px;
}  
/*/////////*/

/* Footer */
footer {
    background-color: #041220;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    
    bottom: 0;
    color: #fff
}

.footer-navigation h3 {
    margin: 0;
    font: normal 36px Cookie, cursive;
    margin-bottom: 20px;
    color: #fff
}

.footer-navigation h3 a {
    text-decoration: none;
    color: #fff
}

.footer-navigation h3 span {
    color: #5383d3
}

.footer-navigation p.links a {
    color: #fff;
    text-decoration: none
}

.footer-navigation p.company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px
}

@media (max-width:767px) {
    .footer-contacts {
        margin: 30px 0
        /* text-align: center; */
        /* //padding-left: 5%; */
    }
}

.footer-contacts p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin-top: 20px;
}

.footer-contacts p a {
    color: #5383d3;
    text-decoration: none
}

.fa.footer-contacts-icon {
    background-color: #33383b;
    color: #fff;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px 10px 0
}

span.new-line-span {
    display: block;
    font-weight: normal;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2
}

.footer-about h4 {
    display: block;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-about p {
    line-height: 20px;
    color: #92999f;
    font-size: 15px;
    font-weight: normal;
    margin: 0
}

div.social-links {
    margin-top: 10px;
    color: #fff
}

.social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    /* background-color: #33383b; */
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-bottom: 10px
}

.footer {
    bottom: 0;
    /* position: absolute */
}

/*testimonials*/
 #clients
{
    background-image: linear-gradient(to right, #7997b9,#4fcdec);
    color:rgb(1, 28, 36);
     /* padding: 0 !important;   */
    padding-top: 2%;
    padding-bottom: 5%;
    
}
#clients h1{
    font-family: 'Baskervville';
  font-weight: bold;
} 

#clients .testimonial{
    background-color: rgb(255, 255, 255);
    border-right: 4px solid #2A3D7D;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(5, 5, 5, 0.1);
    padding: 30px 30px 30px 130px;
    margin: 0 15px 30px 15px;
    overflow: hidden;
    position: relative;
}
#clients .testimonial:before{
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    bottom: -4px;
    left: -17px;
    border-top: 25px solid #03347e;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(45deg);
}
#clients .testimonial:after{
    background-color: rgb(255, 255, 255);
    content: "";
    position: absolute;
    top: -4px;
    left: -17px;
    border-top: 25px solid #035b6b;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(135deg);
}
#clients .testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
}
#clients .testimonial .pic img{
    width: 100%;
    height: auto;
}
#clients .testimonial .description{
    font-size: 15px;
    letter-spacing: 1px;
    color: #6f6f6f;
    line-height: 25px;
    margin-bottom: 15px;
}
#clients .testimonial .title1{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1597a8;
    margin: 0;
}
#clients .testimonial .post{
    display: inline-block;
    font-size: 17px;
    color: #29aad1;
    font-style:italic;
}
#clients .owl-theme .owl-controls .owl-page span{
    border: 2px solid #2A3D7D;
    background: #fff !important;
  border-radius:0 !important;
    opacity: 1;
}
#clients .owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
    background: #086b79 !important;
  border-color:#29aad1;
}
@media only screen and (max-width: 767px){
    #clients .testimonial{
        padding: 20px;
        text-align: center;
    }
    #clients .testimonial .pic{
        display: block;
        position: static;
        margin: 0 auto 15px;
    }
}



