*
{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
}
    
.a
{
    background-color: black;
}

#nav-bar
{
    position:sticky;
    top:0;
    z-index:10;
}
.navbar
{
    background-image: linear-gradient(to right, #4a98f1,#3f1dd6);
    padding:0 !important;
}
.navbar-brand
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color:#fff !important;
    font-weight:600;
    float:right;
    text-align:left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline:none !important;

}
#banner
{
    background-image: linear-gradient(to right, #213b58,#15102e);
    color: #fff;
    padding-top:5%;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;

}
.play-btn
{
    width: 45px;
    margin: 20px;
}
#services
{
    padding: 80px 0;
    color: white;
    background-color: black;
}
#services h1{
    text-align: center;
}
.service-img
{
    width:100%;
    height: 100%;
    margin-left:2px;
}
.about-img
{
    width:20%;
    margin-top:20px;
    transition: 0.5s;
    
}
.about a:hover img{
    transform: translateY(-10px);
}

.about-img1
{
    width:20%;
    border-radius: 50%;
    margin-top:20px;
    transition: 0.5s;
}
.about a:hover img{
    transform: translateY(-10px);
}

.services
{
    padding:20px;
}
.about h4
{
   padding:5px;
   margin-top: 25px;
   text-transform: uppercase;
   color: #78bbcc;
   
}
.about h4::before{
    content: '';
    background : #0c0c0c;
    height: 5px;
    width: 350px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform :translateY(40px); 
}
.about p
{
    color:#f8f9fa;
    margin-top: 30px;
}

.title::before
{
    content: '';
    background : #142b46;
    height: 5px;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform :translateY(63px);
}
.title::after
{
    content: '';
    background : #142b46;
    height: 10px;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform :translateY(8px);
}
#services .btn-primary
{
    box-shadow:none;
    padding: 8px 25px;
    border: none;
    border-radius : 20px;
    background-image: linear-gradient(to right, #213b58,#15102e);
}
#about
{
    background: #2a3f53;
    padding-bottom: 50px;
    padding-top:50px;
    color:rgb(244, 244, 245)
}
.about-title
{
  font-size:40px;
  font-weight: 600;
  margin-top: 8px;
}
.about-us
{
    padding-top:60px;
}
.about-us ul
{
    margin-left: 10px 0;
}
.about-us ul li
{
    margin: 10px 0;
}
#testimonials
{
    margin: 100px 0;
    background:black;
    color:white;
}
.testimonials
{
    border-left: 4px solid #142b46;
    margin-top:50px;
    margin-bottom:50px;
}
.testimonials img{
    height:80px;
    width:80px;
    border-radius:50%;
    margin:0 10px;
}
#rt
{
  display: block;
}
#latest
{
  background-image: linear-gradient(to right, #13011f,#020933);
    color:rgb(133, 14, 69);
   
    padding-top: 2%;
}
#latest h1{
   /* padding-top:10%;*/
    margin-bottom: 10%;
}
.glow {
  
    color:whitesmoke;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
#latest > div
{
    width:95%;
    margin: 80px auto;
    padding-bottom: 12%;
    
}
#latest .row
{
    display:flex;
    align-items: center;
    
    flex-wrap: wrap;
}

#latest .col
{
    flex-basis: 50%;
    min-width: 250px;

}
.feature-img
{
    width: 100%;
    height: 50vh;
    margin:auto;
    position:relative;
    border-radius:6px;
    overflow:hidden;
}
.small-img-row
{
    display: flex;
    background: #efefef;
    margin:20px auto;
    align-items:center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
  
}
.small-img-row > div{
  padding-left:0;
  padding-right: 0;
}
.small-img
{
   position:relative;

  
}
.small-img img {
    width: 100%;
    
    
}
.ui{
  width: 100%;
  
  height:15vh; 
  padding-right: 0;
}
.ua{
  width: 100%;
  
  height:15vh; 
  padding-right: 0;
}
.small-img-row p{
    text-align: center;
    color:#707070;
    line-height: 22px;
    font-size: 15px;
}
/* .play-btn
{
    width:60px;
    position:absolute;
    
    transform :translate(-50%, -50%);
    cursor:pointer;
    opacity: 78%;
} */
.small-img .play-btn
{
    width:35px;
    
    position:absolute;
    left: 50%;
    top:50%;
    transform :translate(-97%, -95%);
    cursor:pointer;
    opacity: 78%;
    
}
video:focus{
    outline: none;
}

.usr
{
   display:inline-block;
   font-size:12px;
}
#soc
{
    background: #f8f9fa;
    padding : 100px 0;

}
#soc p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

#footer
{
    background-image: linear-gradient(to right, #142b46,#0d0d0e);
    color:#fff;

}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom:20px;
}
.soc-i img{
    width: 60px;
    transition: 0.5s;
}
.soc-i a:hover img{
    transform: translateY(-10px);
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1; }
    .owl-carousel .owl-stage {
      position: relative;
      -ms-touch-action: pan-Y;
      touch-action: manipulation;
      -moz-backface-visibility: hidden;
      /* fix firefox animation glitch */ }
    .owl-carousel .owl-stage:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    .owl-carousel .owl-stage-outer {
      position: relative;
      overflow: hidden;
      /* fix for flashing background */
      -webkit-transform: translate3d(0px, 0px, 0px); }
    .owl-carousel .owl-wrapper,
    .owl-carousel .owl-item {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0); }
    .owl-carousel .owl-item {
      position: relative;
      min-height: 1px;
      float: left;
      -webkit-backface-visibility: hidden;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none; }
    .owl-carousel .owl-item img {
      display: block;
      width: 100%; }
    .owl-carousel .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
      display: none; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
      cursor: pointer;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel button.owl-dot {
      background: none;
      color: inherit;
      border: none;
      padding: 0 !important;
      font: inherit; }
    .owl-carousel.owl-loaded {
      display: block; }
    .owl-carousel.owl-loading {
      opacity: 0;
      display: block; }
    .owl-carousel.owl-hidden {
      opacity: 0; }
    .owl-carousel.owl-refresh .owl-item {
      visibility: hidden; }
    .owl-carousel.owl-drag .owl-item {
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .owl-carousel.owl-grab {
      cursor: move;
      cursor: grab; }
    .owl-carousel.owl-rtl {
      direction: rtl; }
    .owl-carousel.owl-rtl .owl-item {
      float: right; }
  
  /* No Js */
  .no-js .owl-carousel {
    display: block; }
  
  /*
   *  Owl Carousel - Animate Plugin
   */
  .owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both; }
  
  .owl-carousel .owl-animated-in {
    z-index: 0; }
  
  .owl-carousel .owl-animated-out {
    z-index: 1; }
  
  .owl-carousel .fadeOut {
    animation-name: fadeOut; }
  
  @keyframes fadeOut {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  
  
  .owl-height {
    transition: height 500ms ease-in-out; }
  
 
    .owl-carousel .owl-item .owl-lazy {
      opacity: 0;
      transition: opacity 400ms ease; }
    .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
      max-height: 0; }
    .owl-carousel .owl-item img.owl-lazy {
      transform-style: preserve-3d; }
  
  
  .owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }
  
  .owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease; }
  
  .owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3); }
  
  .owl-carousel .owl-video-playing .owl-video-tn,
  .owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none; }
  
  .owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease; }
  
  .owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }
#late
{
  color:white;

}
#late h1{
    padding-bottom: 8%;
}
